@mixin button-transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin button-appearance($appearance: none) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
      -ms-appearance: $appearance;
          appearance: $appearance;
}

@mixin button-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin button-color-variant(
  $font-color: $white-color,
  $bg-color: $primary-color,
  $border-color: transparent,
  $ghost: false
) {
  color: $font-color;
  background-color: $bg-color;
  border: 1px solid $border-color;

  &:hover,
  &:focus {
    color: darken($font-color, 5%);
    border-color: darken($border-color, 6%);

    @if $ghost == true {
      $bg-color: rgba($white-color, .1);
    }

    background-color: darken($bg-color, 5%);
  }
}

@mixin button-size-variant(
  $button-height: $button-base-height,
  $button-spacing: $button-base-spacing,
  $button-font-size: $button-base-font-size
) {
  height: $button-height;
  padding: 0 $button-spacing;
  font-size: $button-font-size;
  line-height: $button-height + .15em;
}