
%default-button {
  letter-spacing: .05em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  @include button-size-variant();
  @include button-transition(background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out);
  @include button-appearance;
}