
$black-color: #000;
$white-color: #fff;

$primary-color: #8cd1a8;
$blue-color: #4696e5;
$dark-blue-color: #00008b;
$green-color: #008000;
$lime-green-color: #32cd32;
$violet-color: #8a2be2;
$crimson-color: #dc143c;
$aqua-color: #00ffff;
$coral-color: #ff7f50;
$gold-color: #ffd700;

/* buttons settings */
$button-base-font-size: 1rem;
$button-base-spacing: 2em;
$button-base-height: 3em;

$button-small-font-size: .8rem;
$button-small-spacing: 1.2em;
$button-small-height: 2em;

$button-big-font-size: 1.2rem;
$button-big-spacing: 3em;
$button-big-height: 3em;