
// Buttons settings
//

$button-ghost: false;
$button-font-weight: 600;
$button-border-radius: 2px;
$button-margin: 5px;
$button-ttransform: capitalize;
$button-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

// Color settings
//

$button-primary-color: #8cd1a8;
$button-border-color: transparent;
$black-color: #000;
$white-color: #fff;

// Sizes settings
//

$button-base-font-size: 1rem;
$button-base-spacing: 2em;
$button-base-height: 3em;

$button-small-font-size: .8rem;
$button-small-spacing: 1.2em;
$button-small-height: 2em;

$button-big-font-size: 1.2rem;
$button-big-spacing: 3em;
$button-big-height: 3em;
