* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01em;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

main {
  text-align: center;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h2 {
  font-weight: 300;
}

header {
  padding: 1.6em 1.2em;
  background-color: #f1f1f1;
  border-bottom: 1px solid #eee;

  h1, p, iframe,
  .twitter-share-button,
  .fb-like {
    animation-name: bounceInDown;
    animation-fill-mode: both;
  }

  p {
    animation-duration: 1.5s;
  }

  .twitter-share-button,
  .fb-like,
  iframe {
    animation-duration: 1s;
  }

  h1 {
    animation-duration: 2s;
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0 0 .8em;
  }

  .fb-like {
    width: 190px;
    text-align: left;
  }

  .fb-like span {
    vertical-align: top !important;
    top: -5px;
  }

}

footer {
  padding: 2em;

  p, a {
    color: #9b9b9b;
  }
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.bg-full {
  width: 100%;
  padding: 4em 1.2em;
}

.bg-gray,
.bg-blue {
  h1, h2 {
    color: #fff;
  }
}

.bg-gray {
  background-color: #424242;
}

.bg-silver {
  background-color: #f1f1f1;
}

.bg-blue {
  background-color: #4a98e5;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
