* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01em;
  font-size: 1rem;
  color: rgba(0, 0, 0, .7);
}

main {
  text-align: center;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h2 {
  font-weight: 300;
}

header {
  padding: 1.6em 1.2em;
  background-color: #f1f1f1;
  border-bottom: 1px solid #eee;

  h1 {
    font-weight: 500;
    margin: 0 0 .8em;
  }
}

footer {
  padding: 2em;

  p, a {
    color: #9b9b9b;
  }
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.bg-full {
  width: 100%;
  padding: 4em 1.2em;
}

.bg-gray,
.bg-blue {
  h1, h2 {
    color: #fff;
  }
}

.bg-gray {
  background-color: #424242;
}

.bg-silver {
  background-color: #f1f1f1;
}

.bg-blue {
  background-color: #4a98e5;
}
